<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <title>Add Account</title>
  </head>
  <body>
    <h3>Add Account</h3>

    <form
      action="#"
      th:action="@{/addAccount}"
      method="post"
      th:object="${account}"
    >
      Username: <input type="text" name="name" />
      <span
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"
        style="color:red"
      ></span
      ><br />
      Password:
      <input type="password" name="password" />
      <span
        th:if="${#fields.hasErrors('password')}"
        th:errors="*{password}"
        style="color:red"
      ></span
      ><br />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
